{% extends "common/fs-base.html" %}

<meta name="description" content="Apply for a Grant">
<meta name="keywords" content="Apply for a Grant">
<meta name="author" content="Ministry of Housing, Communities and Local Government">

{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/cookie-banner/macro.html" import govukCookieBanner %}
{% from "govuk_frontend_jinja/components/skip-link/macro.html" import govukSkipLink %}
{% from "govuk_frontend_jinja/components/header/macro.html" import govukHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "apply/partials/mhclg-header.html" import mhclgHeader %}

{% set serviceName = get_service_title() %}



{% block head %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='fs/styles/apply.css' ) }}"> </link>
{% endblock head%}

{% block skipLink %}
{{ govukSkipLink({
    "href": "#main-content",
    "text": "Skip to main content"
  })
}}
{% endblock skipLink %}
{% block header %}
{% set navigationItems = []%}
{% if g.is_authenticated and g.logout_url %}
  {% set signoutHtml %}
    <form method="post" action="{{ g.logout_url }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {{ govukButton({
            "isStartButton": false,
            "type":"submit",
            "text": _("Sign out"),
            "classes": "app-header__button--signout"
        }) }}
    </form>
  {% endset %}
  {% do navigationItems.append({"html": signoutHtml})%}
{% endif %}
    {{
        mhclgHeader(
            params={
                "serviceName": serviceName,
                "homepageUrl": "#",
                "assetPath": assetPath,
                "navigation": navigationItems
            }
       )
    }}
{% endblock header %}

{% set mainClasses = "app-main-class" %}

{% block main %}
  {{ super() }}
{% endblock main %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      "tag": {
        "text": "beta"
      },
      "html": _("This is a new service.")
    })
  }}
{% endblock beforeContent %}


{% block content %}
<h1 class="govuk-heading-xl">Funding Service Apply Template</h1>
{% endblock content %}

{% block footer %}


  {% if not fund or not round %}
    {% set contactUsUrl%}
      {{ url_for("apply_routes.contact_us") }}
    {% endset %}
    {% set privacyUrl%}
      {{ url_for("content_routes.privacy") }}
    {% endset %}
  {% endif %}

  {% if fund %}
    {% set contactUsUrl%}
      {{ url_for("apply_routes.contact_us", fund_short_name=fund.short_name) }}
    {% endset %}
  {% endif %}
  {% if fund and round %}
    {% set privacyUrl%}
      {{ url_for("content_routes.privacy", fund_short_name=fund.short_name, round_short_name=round.short_name) }}
    {% endset %}
  {% endif %}

  {% set footer_items = [
    {
      "href": url_for("content_routes.cookie_policy"),
      "text": _("Cookies")
    },
    {
      "href": url_for("content_routes.accessibility_statement"),
      "text": _("Accessibility Statement")
    },
    {
      "href": contactUsUrl,
      "text": _("Contact us")
    }
  ] %}
  {% if has_privacy_notice %}
    {% set _ = footer_items.insert(0, {
      "href": privacyUrl,
      "text": _("Privacy")
    }) %}
  {% endif %}

  {{ govukFooter({
    "meta": {
      "items": footer_items
    }
  })
  }}
{% endblock footer %}
