{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter -%}

{% set footer_items = [] -%}
{% if has_privacy_notice -%}
    {% set _ = footer_items.append({'href': privacy_url, 'text': gettext('Privacy')}) -%}
{% endif -%}
{% set _ = footer_items.extend([
    {'href': '/cookie_policy', 'text': gettext('Cookies')},
    {'href': accessibility_statement_url, 'text': gettext('Accessibility Statement')},
    {'href': contact_us_url, 'text': gettext('Contact us')}
]) -%}

{{ govukFooter({
    'meta': {
        'visuallyHiddenTitle': 'Support links',
        'items': footer_items
    }
}) }}
